body,html{
  height: 100%;
  margin: 0;
  font-family: Arial, Helvetica, serif;
  background-color: #362b2e ;
}
.heading{
  padding: 10vh 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 48px !important;
  font-weight: 800;
  color: #a88590;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

/* hero */
#hero{
  background-image: url(pictures/);
  /* background-color: #a88590; */
    background-repeat: no-repeat;
    height: 100%;
}
.name {
  color: #362b2e;
  height: 100vh;
  /*This part is important for centering*/
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.p{
  text-align: center;
}

.typing-demo {
  width: 29ch;
  animation: typing 2s steps(22), blink .5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-family: monospace;
  font-size: 2em;
}

@keyframes typing {
  from {
    width: 0
  }
}
    
@keyframes blink {
  50% {
    border-color: transparent
  }
}

/* hero end */

/* About */
h1 {
  text-align: center;
  font-family: serif;
}
h2 {
  font-style: italic;
  font-size: medium;
      color: #94737c;


}
p {
  font-style: italic;
  font-size: medium;
      color: #a88590;

}
.img-fluid {
  border-radius: 50%;
}

.about {
  display: flex;
  justify-content: center;
  flex: auto;
}

/*work and experience section*/
.about {
  text-align: center;
  font-family: serif;
}



/* social links */
/* Style the Sticky icons on web page */
.stickyicon-list {
  /* position: fixed;    */
  top: 200px;
  transform: translateY(-50%);
}
/* HOver affect on sticky social media icons */
.stickyicon-list a:hover {
  color: #000;
  width: 10px;
}

/* Now we have to design each icon of social media */

.github {
  color: #a88590;
  /* background: #00acee;  */
  margin: 5px;
}
.linkedin {
  /* background: #0e76a8;    */
  color: #a88590;
  margin: 5px;
}


#projects {
  padding: 71px;
}
#about {
  padding: 71px;
}
#timeline {
  padding: 71px;
}

/*FOOTER*/

footer {
  background:#000;
  background: -webkit-linear-gradient(59deg, #3a6073,black);
  background: linear-gradient(59deg, #3a6073, pink);
  color:#000;
  margin-top: 100px;
}


footer a:hover {
  color: #fa944b;
  text-decoration: none;
}


/*SOCİAL İCONS*/

/* footer social icons */
.copyright{
  color:#07374a;
  text-align: center;
}
ul.social-network {
  list-style: none;
  display: inline;
  margin-left: 0 !important;
  padding: 0;
}

ul.social-network li {
  display: inline;
  margin: 0 5px;
}

/* footer social icons */

.social-network a.icoFacebook:hover {
  background-color: #3b5998;
}

.social-network a.icoLinkedin:hover {
  background-color: #007bb7;
}

.social-network a.icoFacebook:hover i,
.social-network a.icoLinkedin:hover i {
  color: #fff;
}

.social-network a.socialIcon:hover,
.socialHoverClass {
  color: #44bcdd;
}

.social-circle li a {
  display: inline-block;
  position: relative;
  margin: 0 auto 0 auto;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  text-align: center;
  width: 30px;
  height: 30px;
  font-size: 15px;
}

.social-circle li i {
  margin: 0;
  line-height: 30px;
  text-align: center;
}

.social-circle li a:hover i,
.triggeredHover {
  -moz-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -ms--transform: rotate(360deg);
  transform: rotate(360deg);
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -ms-transition: all 0.2s;
  transition: all 0.2s;
}

.social-circle i {
  color: #595959;
  -webkit-transition: all 0.8s;
  -moz-transition: all 0.8s;
  -o-transition: all 0.8s;
  -ms-transition: all 0.8s;
  transition: all 0.8s;
}


/* projects*/
.body{
    margin: 0;
    padding: 0;
    min-height: 100vh;
    /* background: #333; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: consolas;
}
.projects{
    width: 1000px;
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.projects .card{
    position: relative;
    cursor: pointer;
}

.projects .card .face{
    width: 300px;
    height: 200px;
    transition: 0.5s;
}

.projects .card .face.face1{
    position: relative;
    background: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transform: translateY(100px);
}

.projects .card:hover .face.face1{
    background: #e2a0b6;
    transform: translateY(0);
}

.projects .card .face.face1 .content{
    /* opacity: 0.2; */
    transition: 0.5s;
}

.container .card:hover .face.face1 .content{
    opacity: 1;
}

.projects .card .face.face1 .content img{
    max-width: 100px;
}

.projects .card .face.face1 .content h3{
    margin: 10px 0 0;
    padding: 0;
    color: #fff;
    text-align: center;
    font-size: 1.5em;
}

.projects .card .face.face2{
    position: relative;
    /* background: #fff; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
    transform: translateY(-100px);
}

.projects .card:hover .face.face2{
    transform: translateY(0);
}

.projects .card .face.face2 .content p{
    margin: 0;
    padding: 0;
}

.projects .card .face.face2 .content a{
    margin: 15px 0 0;
    display:  inline-block;
    text-decoration: none;
    font-weight: 900;
    color: #333;
    padding: 5px;
    border: 1px solid #333;
}

.projects .card .face.face2 .content a:hover{
    background: #333;
    /* color: #fff; */
}


/* timeline*/
@import url("https://fonts.googleapis.com/css2?family=Jost:wght@200;300;400&display=swap");
.design-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 71px 0;
}

.design {
  display: flex;
  align-items: center;
  justify-content: center;
}

.timeline {
  width: 80%;
  height: auto;
  max-width: 800px;
  margin-left:15% ;
  display: flex;
  flex-direction: column;
  margin-right: 50px;
  flex-wrap: wrap;
  
}

.timeline-content {
  padding: 20px;
  background: #1f1f1f;
  -webkit-box-shadow: 5px 5px 10px #1a1a1a, -5px -5px 10px #242424;
  box-shadow: 5px 5px 10px #1a1a1a, -5px -5px 10px #242424;
  border-radius: 5px;
  color: white;
  padding: 1.75rem;
  transition: 0.4s ease;
  overflow-wrap: break-word !important;
  margin: 1rem;
  margin-bottom: 20px;
  border-radius: 6px;
}

.timeline-component {
  margin: 0px 20px 20px 20px;
}

@media screen and (min-width: 768px) {
  .timeline {
    display: grid;
    grid-template-columns: 1fr 3px 1fr;
  }
  .timeline-middle {
    position: relative;
    background-image: linear-gradient(45deg, #f27121, #e94057, #8a2387);
    width: 3px;
    height: 100%;
  }
  .main-middle {
    opacity: 0;
  }
  .timeline-circle {
    position: absolute;
    top: 0;
    left: 50%;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-image: linear-gradient(45deg, #f27121, #e94057, #8a2387);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
  }
}

/* Testimonial */
.testimonial-section{
    background-blend-mode: overlay;
}
.testimonial-section h2,
.testimonial-section h3,
.testimonial-section p,
.testimonial-section .mbr-text {
    letter-spacing: normal;
}
.testimonial-section .underline .line {
    width: 2rem;
    height: 1px;
    background: #ffffff;
    display: inline-block;
}
.testimonial-section .testimonials-container {
    margin: 0 auto;
}
.testimonial-section .testimonials-container .testimonials-item:nth-child(2n) .user.row {
    flex-direction: row-reverse;
    -webkit-flex-direction: row-reverse;
}
.testimonials-container .testimonials-item:nth-child(2n) .user.row .testimonials-caption {
    text-align: right;
}
.testimonial-section .testimonials-container .testimonials-item .user.row {
    margin: 0;
}
.testimonial-section .testimonials-container .testimonials-item .user .user_image {
    width: 150px;
    height: 150px;
    overflow: hidden;
    margin: 2rem auto;
    border-radius: 50%;
}
.testimonial-section .testimonials-container .testimonials-item .user .user_image img {
    width: 100%;
    min-width: 100%;
    min-height: 100%;
}
@media (max-width: 260px) {
    .testimonial-section .user_image {
      width: 100% !important;
      height: auto !important;
    }
}
@media (max-width: 767px) {
    .testimonial-section, .testimonials-container .testimonials-item:nth-child(2n) .user.row .testimonials-caption{
        text-align: center;
        color: #f37b83;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }
    .testimonial-section .testimonials-caption {
      padding: 0 2rem 2rem 2rem !important;
      /* color: #f37b83; */
    }
    .testimonial-section .testimonials-caption .user_name {
        text-align: center;
        padding-top: 0px !important;
      
    }
}
/* Projects*/

@import url(https://fonts.googleapis.com/css?family=Roboto:300,400);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);
figure.snip1390 {
  font-family: 'Roboto', Arial, sans-serif;
  position: relative;
  overflow: hidden;
  margin: 10px;
  min-width: 230px;
  max-width: 315px;
  width: 100%;
  color: #000000;
  text-align: center;
  font-size: 16px;
  padding: 30px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
figure.snip1390 *,
figure.snip1390 *:before,
figure.snip1390 *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
figure.snip1390 figcaption {
  width: 100%;
}
figure.snip1390 h2,
figure.snip1390 h4,
figure.snip1390 blockquote {
  margin: 0;
}
figure.snip1390 h2,
figure.snip1390 h4 {
  font-weight: 300;
}
figure.snip1390 h2 {
  color: #ffffff;
}
figure.snip1390 h4 {
  color: #a6a6a6;
}
figure.snip1390 blockquote {
  font-size: 1em;
  padding: 45px 20px 40px 50px;
  margin-top: 30px;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: inset -1.4px -1.4px 2px rgba(0, 0, 0, 0.3);
  text-align: left;
  position: relative;
}
figure.snip1390 blockquote:before {
  font-family: 'FontAwesome';
  content: "\201C";
  position: absolute;
  font-size: 70px;
  opacity: 0.25;
  font-style: normal;
  top: 0px;
  left: 20px;
}
figure.snip1390 .profile {
  width: 100px;
  border-radius: 50%;
  display: inline-block;
  box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.4);
  margin-bottom: 10px;
  border: solid 5px #A6A57A;
}
